{% extends "contentpage.html" %}
{% block title %}Salt Observer: History for {{ request.view_args.get('minion') }} {% endblock %}
{% set active_page = request.view_args.get('function') %}

{% block list %}
<div id="list" class="pure-u-1">
    {% for (jid, time) in jids %}
    <div id="minion-item-{{ jid }}" class="minion-item pure-g">
        <div class="pure-u-3-4">
            <h4 class="minion-name">{{ jid }}</h4>
            <p class="jid-time">{{ time }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block default_content %}
<div id="default-content" class="centered-content">
    <div class="pure-g">
        <div class="pure-u-1">
            <div class="count-box">
                <h1>{{ jids|length }}</h1>
                <div class="count-title">
                    job{{ jids|length|pluralize }} for {{ request.view_args.get('minion') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content_buttons %}
    <a id="jid-btn" class="pure-button">Go to Job</a>
    <a id="function-btn" class="pure-button-primary pure-button">View Function</a>
{% endblock %}

{% block morescripts %}
    <script type=text/javascript>
    {% for (jid, time) in jids %}
        $("#minion-item-{{ jid }}").click(function() {
            $.ajax({ url:'/_get_function_data/{{ request.view_args.get('minion') }}/{{ jid }}', success:function(result) {generate_content(result, '{{ time }}'); }});
            $(this).siblings('div').removeClass('minion-item-selected');
            $(this).addClass('minion-item-selected');
        });
    {% endfor %}
    </script>
{% endblock %}
