{% extends "base.html" %}
{% block title %}Salt Observer: Search Jobs{% endblock %}
{% block content %}
<style>
body {
    background-color: #252A3A;
}
@media (min-width: 40em) {
    #layout {
        padding-left: 180px;
    }
    #nav {
        margin-left: -180px;
    }
}
</style>
<div class="pure-u-1 searchpage">
    <form class="pure-form">
        <input name="jobid" type="text" placeholder="Job ID" class="pure-input-rounded">
        <button type="submit" class="pure-button">Search</button>
    </form>
</div>
{% endblock %}
