{% extends "contentpage.html" %}
{% block title %}Salt Observer: {{ request.view_args.get('jid') }}{% endblock %}
{% set active_page = function %}

{% block list %}
<div id="list" class="pure-u-1">
    {% for minion, success in minions %}
    <div id="minion-item-{{ minion }}" class="minion-item pure-g {% if not success %}minion-item-alert{% endif %}">
        <div class="pure-u-3-4">
            <h4 class="minion-name">{{ minion }}</h4>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block default_content %}
<div id="default-content" class="centered-content">
    <div class="pure-g">
        <div class="pure-u-1">
            <div class="count-box">
                <h1>{{ minions|length }}</h1>
                <div class="count-title">
                    Minion{{ minions|length|pluralize }} ha{{ minions|length|pluralize("s", "ve") }} run this job.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content_buttons %}
    <a id="function-btn" class="pure-button-primary pure-button">View Function</a>
{% endblock %}

{% block morescripts %}
    <script type=text/javascript>
    {% for minion, success in minions %}
        $("#minion-item-{{ minion|replace(".", "\\\\.") }}").click(function() {
            $.ajax({ url:"{{ url_for('get_function_data', minion=minion, jid=request.view_args.get('jid')) }}", success:function(result) {generate_content(result, '{{ time }}'); }});
            $(this).siblings('div').removeClass('minion-item-selected');
            $(this).addClass('minion-item-selected');
        });
    {% endfor %}
    </script>
{% endblock %}
