html,body {
    height: 100%;
}
body {
    padding-top: 70px;
}
.landing-element {
    margin: 40px 0;
}
#mainrow {
    height: 100%;
    margin-top: -20px;
}
#matched-function {
    margin-top: -15px;
}
#list:first-child {
    padding-top: 20px;
}
.badge-update {
    background-color:#d9534f;
}
#content {
    height: 100%;
    padding: 1px 0px;
    overflow: auto;
}
#content > table > tbody > tr > td {
    background-color: #fff;
}
#content > table > tbody > tr > td:first-child {
    font-weight: bold;
}
#content > table > tbody > tr > td:first-child+td {
    text-align: center;
}
#hist-btn-td {
    vertical-align: middle;
}
.rawdiv {
    padding-left: 10px;
    padding-right: 10px;
}
.renderjson {
    background-color: #272822;
    font-weight: normal !important;
    overflow: hidden;
}
.renderjson a {
    color: #75715e;
    text-decoration: none;
}
.renderjson .disclosure {
    font-weight: bold;
    color: #75715e;
}
.renderjson .syntax {
    color: #ddd;
}
.renderjson .string {
    color: #a6e22e;
}
.renderjson .number {
    color: #bf79db;
}
.renderjson .boolean {
    font-weight: bold;
    color: #f92672;
}
.renderjson .key {
    color: #bf79db;
}
.renderjson .keyword {
    font-weight: bold;
    color: #f92672;
}
.renderjson .object.syntax {
    color: #ddd;
}
.renderjson .array.syntax {
    color: #ddd;
}
