{% extends "base.html" %}
{% block navfunctions %}active{% endblock %}
{% block title %}Salt Observer: {{ request.view_args.get('function') }} {% endblock %}
{% block content %}
<div class="container-fluid" style="height:100%;">
    <div id="mainrow" class="row">
        <div id="list" class="col-xs-4">
            <div id="matched-function" class="page-header">
                <h3>{{ request.view_args.get('function') }}</h3>
            </div>
            <div id="list-content" class="list-group" style="overflow: auto; height: 600px;">
                {% for (minion, jid, time) in functions %}
                <a href="#" id="btn-{{ minion }}" class="list-group-item"><strong>{{ minion }}</strong><span id='update-{{ minion }}'><small class="small pull-right">(<em>{{ time }}</em>)</small></span></a>
                {% endfor %}
            </div>
        </div>
        {% include "default_layout.html" %}
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type=text/javascript>
        {% for (minion, jid, time) in functions %}
        $("#btn-{{ minion|replace(".", "\\\\.") }}").click(function() {
            $.ajax({ url:'/_get_function_data/{{ minion}}/{{ jid }}', success:function(result) {generate_content(result, '{{ time }}'); }});
            $(this).siblings('a').removeClass('active');
            $(this).addClass('active');
        });
        {% endfor %}

        renderjson.set_icons('+', '-');
        renderjson.set_show_to_level(1);
        function generate_content(json, time){
            $('#minion').html(json.id);
            $('#function').html(json.fun);
            $('#hist-btn').attr('href', '/history/' + json.id + '/' + json.fun);
            $('#jid').html(json.jid);
            $('#jid').attr('href', '/jobs/' + json.jid);
            $('#time').html(jQuery.timeago(time.replace(/, at /i, "T")));
            try{
                $('#number').html(Object.keys(json.return).length);
            }catch(e){
                $('#number').html('1');
            }
            if (json.success) {
                $('#success').removeClass('danger');
                $('#success').addClass('success');
                $('#success').html("<span class='glyphicon glyphicon-ok'></span>");
            } else {
                $('#success').removeClass('success');
                $('#success').addClass('danger');
                $('#success').html("<span class='glyphicon glyphicon-remove'></span>");
            }
            $('#return-code').html(json.retcode);

            $('#content > table').removeClass('hidden');
            $('#content > div').removeClass('hidden');

            $('#raw-wrapper').html(renderjson(json));
            $('.hastooltip').tooltip();
        }

        var socket = io.connect('/subscription');
        socket.emit('subscribe_function', "{{ request.view_args.get('function') }}")
        socket.on("subscribe_function", function(msg) {
            escaped_minion_id = msg.minion_id.replace(/\./g, "\\.");
            $('#update-' + escaped_minion_id).addClass("badge badge-update");
            if ($.isNumeric($('#update-' + escaped_minion_id).text())) {
                $('#update-' + escaped_minion_id).text($('#update-' + escaped_minion_id).text() - -1);
            } else {
                $('#update-' + escaped_minion_id).text("1");
            }
            $('#btn-' + escaped_minion_id).off('click');
            $('#btn-' + escaped_minion_id).click(function() {
                $.ajax({ url:"/_get_function_data/" + msg.minion_id + "/" + msg.jid , success:function(result) {generate_content(result, msg.time); }});
                $(this).siblings('a').removeClass('active');
                $(this).addClass('active');
                $(this).children('span').html("<small class='small pull-right'>(<em>'" + msg.time + "</em>)</small>");
                $(this).children('span').removeClass('badge badge-update');
            });
        });

        $(window).bind("unload", function() {
            socket.socket.disconnect();
        });
    </script>
{% endblock %}
