{% extends "base.html" %}
{% block navjobs %}active{% endblock %}
{% block title %}Salt Observer: {{ request.view_args.get('jid') }} {% endblock %}
{% block content %}
<div class="container-fluid" style="height:100%;">
    <div id="mainrow" class="row">
        <div id="list" class="col-xs-4">
            <div id="matched-function" class="page-header">
                <h3>Minions executing this job</h3>
            </div>
            <div id="list-content" class="list-group" style="overflow: auto; height: 600px;">
                {% for minion in minions %}
                <a href="#" id="btn-{{ minion }}" class="list-group-item" onclick="$.ajax({ url:'/_get_function_data/{{ minion}}/{{ request.view_args.get('jid') }}', success:function(result) {generate_content(result, '{{ time }}'); }}); $(this).siblings('a').removeClass('active'); $(this).addClass('active');"><strong>{{ minion }}</strong></a>
                {% endfor %}
            </div>
        </div>
        {% include "default_layout.html" %}
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script type=text/javascript>
        renderjson.set_icons('+', '-');
        renderjson.set_show_to_level(1);
        function generate_content(json, time){
            $('#minion').html(json.id);
            $('#function').html("<a href='/functions/" + json.fun + "'>" + json.fun + "</a>");
            $('#hist-btn').attr('href', '/history/' + json.id + '/' + json.fun);
            $('#jid-cell').html(json.jid);
            $('#time').html(jQuery.timeago(time.replace(/, at /i, "T")));
            try{
                $('#number').html(Object.keys(json.return).length);
            }catch(e){
                $('#number').html('1');
            }
            if (json.success) {
                $('#success').removeClass('danger');
                $('#success').addClass('success');
                $('#success').html("<span class='glyphicon glyphicon-ok'></span>");
            } else {
                $('#success').removeClass('success');
                $('#success').addClass('danger');
                $('#success').html("<span class='glyphicon glyphicon-remove'></span>");
            }
            $('#return-code').html(json.retcode);


            $('#content > table').removeClass('hidden');
            $('#content > div').removeClass('hidden');

            $('#raw-wrapper').html(renderjson(json));
        }
        // var incoming;

        // function html_encode(value){
        //       return $('<div/>').text(value).html();
        // }

        // $(document).ready(function() {
        //     initializeWebSockets();
        // })

        // function initializeWebSockets() {
        //     incoming = new ReconnectingWebSocket("ws://"+ location.host + "/subscribe");
        //     incoming.onmessage = function(message) {
        //         var data = JSON.parse(message.data);
        //         switch(data.id)
        //         {
        //             case "status":
        //                 break;
        //             case "job":
        //                 break;
        //             case "webcam":
        //                 break;
        //         }
        //     };
        // }
    </script>
{% endblock %}
