{% extends "base.html" %}
{% block navstats %}active{% endblock %}
{% block title %}Salt Observer: Statistics {% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/morris-0.4.3.min.css') }}">
{% endblock %}
{% block content %}
<div class="container-fluid" style="">
    <div class="row">
        <div id="highstate" class="col-xs-5 col-xs-offset-1 panel panel-default" style="height: 300px;margin-right:7px;padding-bottom:50px;">

        </div>
        <div id="statesls" class="col-xs-5 panel panel-default" style="height: 300px;margin-left:7px;padding-bottom:50px;">

        </div>
    </div>
    <div class="row">
        <div id="testping" class="col-xs-5 col-xs-offset-1 panel panel-default" style="height: 300px;margin-right:7px;padding-bottom:50px;">

        </div>
        <div id="pkgupgrade" class="col-xs-5 panel panel-default" style="height: 300px;margin-left:7px;padding-bottom:50px;">

        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% macro morrisbar(element_name, function_name, data_list) -%}
        new Morris.Bar({
            element: {{ element_name }},
            data: [
            {% for (minion, num) in data_list -%}
                { minion: '{{ minion }}', num: {{ num }} }{% if not loop.last %},{% endif %}
            {% endfor %}
            ],
            xkey: 'minion',
            ykeys: ['num'],
            hideHover: 'auto',
            xLabelAngle: 25,
            labels: ['Number of recorded {{ function_name }} executions']
        });
{% endmacro -%}
<script type="text/javascript" src="{{ url_for('static', filename='js/raphael.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/morris-0.4.3.min.js') }}"></script>
<script type=text/javascript>
    $( document ).ready(function() {
        $('.hastooltip').tooltip();
        {{ morrisbar('highstate', 'state.highstate', highstates) }}
        {{ morrisbar('statesls', 'state.sls', slss) }}
        {{ morrisbar('testping', 'test.ping', pings) }}
        {{ morrisbar('pkgupgrade', 'pkg.upgrade', upgrades) }}
    });
</script>
{% endblock %}
